* {
  box-sizing: border-box;
}
html {
  width: 100vw;
  overflow-x: hidden;
  /*убирает дёргание при появлении полосы прокрутки*/
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
body {
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
/* MIXINS */
.sidebar {
  position: fixed;
  max-width: 210px;
}
.caliber {
  padding: 10px 5px;
  background-color: rgba(51, 51, 51, 0.6);
  margin-bottom: 10px;
}
.caliber__header {
  text-align: center;
  margin-bottom: 8px;
}
.caliber label {
  display: block;
}
.ammo {
  position: relative;
  background: url(../img/eft-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.ammo__container {
  position: relative;
  z-index: 5;
  color: #fff;
  display: flex;
}
.ammo__table {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  margin-left: 220px;
}
.armor {
  padding: 10px 5px;
  background-color: rgba(51, 51, 51, 0.6);
  margin-bottom: 10px;
}
.armor__header {
  text-align: center;
  margin-bottom: 8px;
}
.armor__input-group {
  display: flex;
  justify-content: space-between;
}
.armor__input {
  display: none;
}
.armor__input:checked + .armor__label {
  color: white;
  background: darkslategray;
  border-color: #228016;
}
.armor__label {
  border: 1px solid #666;
  background: white;
  color: darkslategray;
  line-height: 1;
  padding: 5px;
  display: inline-block;
  user-select: none;
}
.category {
  padding: 10px 5px;
  background-color: rgba(51, 51, 51, 0.6);
  margin-bottom: 10px;
}
.category__header {
  text-align: center;
  margin-bottom: 8px;
}
.category__label {
  display: block;
}
.main-overlay {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-image: radial-gradient(circle, rgba(32, 40, 63, 0.9) 0%, rgba(49, 61, 97, 0.8) 40%, #2f3a52 100%);
  z-index: 0;
  background-attachment: fixed;
}
.ammo__sidebar label {
  display: block;
}
.ammo__table-header {
  position: sticky;
  top: 0px;
}
table {
  width: 100%;
  /* Ширина таблицы */
  border-collapse: collapse;
  /* Убираем двойные линии */
}
tr {
  max-height: 20px;
}
td,
th {
  padding: 5px;
  /* Поля в ячейках */
  border: 1px solid #333;
  /* Параметры рамки */
}
th {
  border-top: none;
  font-size: 14px;
  background-color: darkslategray;
  user-select: none;
}
.light-row {
  background: rgba(102, 102, 102, 0.6);
}
th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
  position: relative;
}
th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
  right: 5px;
  position: absolute;
}
th.sorted[data-order="-1"]::after {
  content: "▼";
}
th.sorted[data-order="1"]::after {
  content: "▲";
}
.hidden {
  display: none;
}
.show {
  display: table-row;
}
