body{
  margin: 0;
}
.wrapper{
  padding: 0;
  width: 720px;
  margin: 0 auto;
}


/* main-menu */
.index-btn{
  display: block;
  width: calc(720px - 80px);
  font-size: 46px;
  margin: 30px 40px 0;
}
#program{
  display: none;
}


/* program */
.topbar{
  padding: 15px;
}
.topbar-btn{
  font-size: 26px;
  margin: 0 20px;
  width: 110px;
}



.wrap-button{
  margin-top: 220px;
}
.text-field{
  max-width: 800px;
  height: 120px;
  margin: 0 auto 10px;
  border-radius: 10px;
  background-color: #eee;

  font-size: 36px;
  line-height: 120px;
  vertical-align: top;
  text-align: center;
}
.button{
  display: block;
  max-width: 600px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50px;
  background-color: #bbb;

  font-size: 42px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
#ask-transcript{
  display: none;
}


#info{
  display: block;
  padding: 2px 10px;
  background-color: #ddd;
  color: #bbb;
}