* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
}
.container {
  max-width: 600px;
  margin: 40px auto 20px;
  padding: 0 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-list {
  opacity: 0;
  display: inline-block;
  width: 200px;
  height: 220px;
  background-color: #dfeeed;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #a1a1a1;
  padding: 20px;
  text-align: center;
  user-select: none;
  margin-bottom: 60px;
}
.date-month {
  background-color: #a4c9eb;
  border-radius: 5px;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding: 1px;
}
.date-number {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 10px;
}
.date-year {
  font-weight: 600;
  font-size: 20px;
}
.date-decor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.date-decor--hole {
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 10px 10px 10px #a1a1a1;
}
.date-answer {
  box-shadow: 3px 3px 3px #d8d8d8;
  border-radius: 5px;
  height: 60px;
  line-height: 26px;
  margin-bottom: 80px;
  padding: 4px 10px;
  font-size: 19px;
  background-color: #dff0e7;
  border: 1px solid #c8dfd3;
  width: 100%;
  position: relative;
}
.date-answer::after {
  left: 0;
  top: 30px;
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #c8dfd3;
}
.button {
  box-shadow: 3px 3px 3px #d8d8d8;
  border-radius: 5px;
  min-width: 200px;
  cursor: pointer;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
