*{
  margin: 0;
  padding: 0;
}
h4{
  text-align: center;
  padding-bottom: 10px;
}
.wrapper{
  background-color: lightblue;
  margin: 0 auto;
  text-align: center;
  width: 860px;
  font-size: 0;
}
.ta{
  margin: 0 auto 10px;
  padding-top: 5px;
  background-color: #fefefe;
  border: 2px solid #eee;
  width: 440px;
  height: 36px;
  font-size: 24px;
}
.buttons{
  padding: 0px 0 50px 0;
}
.bt{
  height: 50px;
  width: 360px;
  margin: 20px auto;
  background-color: #eee;
  border-radius: 25px;
  font-size: 36px;
  cursor: pointer;
  border: 1px solid silver;
}
label{
  display: block;
  cursor: pointer;
}
.header{
  display: block;
  width: 100%;
  padding-top: 10px;
  font-size: 25px;
  color: black;
}
.header span{
  padding: 10px 40px;
}
.viewport,
.lesson-list,
.select-words{
  padding-top: 10px;
  font-size: 22px;
  vertical-align: top;
}
.viewport{
  width: 460px;
  display: inline-block;
}
.lesson-list,
.select-words{
  display: inline-block;
  width: 200px;
  text-align: left;
}
.check-icon{
  margin: 10px 15px;
}
.check-all-icon{
  margin: 10px 5px;
}
.check-word{
  margin-bottom: 1px;
  background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

#schema-image{
  display: inline-block;
  width: 440px;
  height: 283px;
}



@media (max-width: 768px) {
  body{
    width: 100%;
  }
  .wrapper{
    width: 100%;
  }
  .header,
  .lesson-list {
    width: 50%;
    display: inline-block;
  }
  .viewport,
  .select-words{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .ta,
  .bt,
  .schema {
    width: 96%;
  }
  .schema{
    height: auto;
  }
}