h4{
  text-align: center;
  padding-bottom: 10px;
}
.generate-wrapper{
  background-color: lightblue;
  margin: 0 auto;
  text-align: center;
  width: 860px;
  font-size: 0;
}
.generate-ta{
  margin: 0 auto 5px;
  padding-top: 5px;
  background-color: #fefefe;
  border: 2px solid #eee;
  width: 440px;
  height: 36px;
  font-size: 24px;
}
.generate-buttons{
  padding: 0px 0 50px 0;
}
.generate-btn{
  height: 45px;
  width: 360px;
  margin: 10px auto;
  background-color: #eee;
  border-radius: 25px;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid silver;
}
label{
  display: block;
  cursor: pointer;
}
.header{
  display: block;
  width: 100%;
  color: black;
}
.header span{
  padding: 10px 10px;
}
.header,
.generate-viewport,
.lesson-list,
.select-words{
  padding-top: 10px;
  font-size: 18px;
  vertical-align: top;
}
.generate-viewport{
  width: 460px;
  display: inline-block;
}
.lesson-list,
.select-words{
  display: inline-block;
  width: 200px;
  text-align: left;
}
.check-icon{
  margin: 10px 15px;
}
.check-all-icon{
  margin: 10px 5px;
}
.check-word{
  margin-bottom: 1px;
  background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

#schema-image{
  display: inline-block;
  width: 440px;
  height: 283px;
}



@media (max-width: 768px) {
  body{
    width: 100%;
  }
  .generate-wrapper{
    width: 100%;
  }
  .header,
  .lesson-list {
    width: 50%;
    display: inline-block;
  }
  .generate-viewport,
  .select-words{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .generate-ta,
  .generate-btn,
  #schema-image {
    width: 98%;
  }
  #schema-image{
    height: auto;
  }
}