h4{
  text-align: center;
  padding: 5px 0;
  border: 1px solid silver;
  border-radius: 15px;
}

.generate-wrapper{
  margin: 0 auto;
  width: 860px;
  font-size: 0;
  text-align: center;
  background-color: lightblue;
}
.generate-ta{
  margin: 0 auto 5px;
  padding-top: 5px;
  background-color: #fefefe;
  border: 2px solid #eee;
  width: 440px;
  height: 36px;
  font-size: 24px;
}
.generate-buttons{
  padding-bottom: 50px;
}
.generate-btn{
  height: 45px;
  width: 360px;
  margin: 8px auto;
  background-color: #eee;
  border-radius: 25px;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid silver;
}
label{
  display: block;
  cursor: pointer;
}
.header-block h4{
  color: black;
}
.header-block,
.viewport-block,
.lessons-block,
.words-block{
  padding-top: 10px;
  font-size: 18px;
  vertical-align: top;
}
.viewport-block{
  width: 460px;
  display: inline-block;
}
.lessons-block,
.words-block{
  display: inline-block;
  width: 200px;
  text-align: left;
}
.check-icon{
  margin: 10px 15px;
}
.check-all-icon{
  margin: 10px 5px;
}
.check-word{
  margin-bottom: 1px;
  background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

#schema-image{
  display: inline-block;
  width: 440px;
}


@media (max-width: 768px) {
  body{
    width: 100%;
  }
  .generate-wrapper{
    width: 100%;
  }
  .header-block,
  .lessons-block{
    padding: 5px 0 0;
    width: 50%;
    display: inline-block;
  }
  .viewport-block,
  .words-block{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .generate-ta,
  .generate-btn,
  #schema-image {
    width: 98%;
  }
}