* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.logo {
    background-color: rgb(180, 210, 210);
    display: flex;
    justify-content: center;
}
.graficlogo{
    display: block;
    padding: 6px 5px;
    box-sizing: border-box;
    max-height: 60px;
    margin: 0 auto;
}




section {
    max-width: 800px; 
    margin: auto;
}
div.translate {
    min-height: 300px;
}
div.translate p {
    width: 95%;
    min-height: 120px;
    padding: 10px;
    background: #efefef;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div.button {
    background-color: #eee;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #bbb;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    text-transform: uppercase;
}