* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
}
.container {
  margin: 20px auto 0;
  text-align: center;
  font-family: sans-serif;
  max-width: 620px;
}
.mods {
  display: flex;
  margin: 0 5% 20px;
}
.mods--frequency {
  background-color: #4CAF50;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 18px;
}
.word {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.word-rus {
  font-size: 20px;
  border-radius: 15px;
  background-color: #f0fefa;
  margin: 0 5% 20px;
  border: 1px solid #d2efde;
}
.word-eng {
  font-size: 22px;
  margin: 0 10%;
  border-bottom: 1px solid #d2efde;
}
.word-v1::before {
  position: absolute;
  left: 0;
  content: 'v1.';
}
.word-v2::before {
  position: absolute;
  left: 0;
  content: 'v2.';
}
.word-v3::before {
  position: absolute;
  left: 0;
  content: 'v3.';
}
.btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 3px 3px 3px #d8d8d8;
  border-radius: 5px;
  min-width: 200px;
  cursor: pointer;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
