@bg-shadow-box: rgba(0, 0, 0, 0.5);
@color-text: #333;
// @bg-side-section: #efa;
@bg-side-section: linear-gradient(180deg, rgba(222,255,225,1) 0%, rgba(214,245,255,1) 100%);


html { font-size: 10px; }
body { color: @color-text; }

.buttonStyle(){
  display: block;
  margin: 1rem auto;
  min-width: 12rem;
  font-size: 1.8rem;
  &:focus { outline: none; }
}


/* index.html */
.menu {
  &-button {
    .buttonStyle();
  }
}

.view {
  &-field{
    display: table;
    height: 8rem;
    width: 100%;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #eee;
    font-size: 2.6rem;
    &-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}


.shema {
  margin: 1rem 0 2rem;
  min-height: 20rem;
}


.intarface {
  &-button {
    .buttonStyle();
    min-width: 30rem;
    padding: 1rem 5rem;
    font-size: 2rem;
  }
}


.container {
  position: relative;
}
.section {
  position: absolute;
  display: inline-block;
  width: 28rem;
  height: 100vh;
  min-height: 100%;
  top: 0;
  padding: 1rem;
  background: @bg-side-section;
  &-left-pos { left: 0; }
  &-right-pos { right: 0; }
  &-left-button,
  &-right-button {
    .buttonStyle();
    display: none;
  }
}
.shadow-gray-filter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @bg-shadow-box;
}
.shadow-gray-box{
  display: none;
}

.label-word,
.label-lesson {
  display: block;
  font-size: 1.8rem;
  font-weight: normal;
  cursor: pointer;
}
input.check-icon,
input.check-all-icon,
input.check-lesson {
  margin-right: 1rem;
}


/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .section-left, .section-right {
    &-pos {
      position: absolute;
      display: none;
      width: 30rem;   
    }
    &-button {
      display: block;
      margin-top: 0;
    }
  }
  .shadow-gray-box {
    display: block;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .section-left, .section-right {
    &-pos {
      width: 30rem;   
    }
  }
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  html { font-size: 8px }
  // .container { width: 98%; } убирает горизонтальную полосу прокрутки
  // она появляется из-за того что в html font-size: 8px;
  .container { width: 98%; }
  .menu {
    &-button {
      margin: 0.8rem auto;
      padding: 0.5rem 1rem;
    }
  }
  .shema {
    font-size: 12px;
    height: 290px;
  }
  .fotorama__nav-wrap {
    display: none;
  }
  .section-left, .section-right {
    &-pos {
      max-width: 30rem;
      width: 50%;   
    }
  }
  // table td { font-size: 13px; }  // не имеет смысла т.к. fotorama с фиксированной высотой
}











.modal-order {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .8);
  z-index: 3;
  &-content {
    position: fixed;
    padding: 20px 0;
    width: 585px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  &-btn {
    display: block;
    width: 75%;
    margin: 20px auto;
    font-size: 22px;
    &__close {
      display: block;
      width: 55%;
      margin: 40px auto 20px;
      font-size: 26px;
    }
  }
}